January 28, 2023

Some considerations and ideas for Cant Stop

1) Multiple game modes with alternate rules

2) multiple backgrounds? custom gamepiece/runner assets (gimp, blender)

3) UI design/implementation drag&drop for grouping of dice

4)  Simple yet comprehensive user interface (java swing ~ look & feel)

5) title screen / main menu

6) options menu (accessible in game)



